* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

img {
  width: 100%; }

.header .header__menu .header__lista {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  background-color: #0d0b0b; }
  .header .header__menu .header__lista__link {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    transition: all 1s ease; }
    .header .header__menu .header__lista__link a {
      text-decoration: none;
      color: red;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2rem;
      transition: all 0.5s ease; }
    .header .header__menu .header__lista__link:hover a {
      color: white; }
    .header .header__menu .header__lista__link:hover {
      background-color: red; }

.banner {
  margin: 5rem 0.5rem 5rem 0.5rem; }

.titulo__3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold; }

.articulos {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .articulos .card {
    display: flex;
    flex-basis: calc(100% / 3);
    align-items: center;
    gap: 10px;
    flex: 1 1 clamp(300px, 30%, 400px);
    color: white;
    background-color: #0d0b0b;
    transition: all 0.5s ease; }
    .articulos .card .card-img-top {
      max-width: 450px;
      margin: 5px; }
    .articulos .card:hover {
      transform: scale(1.1); }
    .articulos .card .card-body {
      display: flex;
      list-style-type: none;
      justify-content: stretch;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .articulos .card .card-body .card-title {
        font-family: "Rubik", sans-serif;
        font-weight: bold; }
      .articulos .card .card-body .card-text {
        font-family: "Rubik", sans-serif; }
      .articulos .card .card-body a {
        font-family: "Montserrat", sans-serif;
        border-color: black;
        background-color: black;
        color: #0d0b0b;
        transition: all 1s ease;
        color: white; }
        .articulos .card .card-body a:hover {
          background-color: red;
          border-color: red; }

.footer {
  display: flex;
  margin-top: 2rem;
  height: 300px;
  flex-direction: column;
  align-items: center; }
  .footer .footer__textoDisponibilidad {
    font-family: "Rubik", sans-serif;
    align-self: flex-start; }
  .footer .footer__linkContacto {
    text-decoration: none;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    align-self: flex-start;
    transition: all 0.3s ease; }
    .footer .footer__linkContacto:hover {
      color: #cb0000; }
  .footer .footer__links {
    align-self: flex-end;
    transition: all 0.3s ease; }
    .footer .footer__links a {
      text-decoration: none;
      color: red;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2rem; }
      .footer .footer__links a:hover {
        color: #cb0000; }
