.headerF5 {

    .header__menu {
        .header__lista {
            @include flex(space-around, center);
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
            background-color: rgb(13, 11, 11);

            &__link {
                @include flex(center, center);
                flex-grow: 1;
                padding: 0.5rem 1rem;
                transition: all 1s ease;

                & a {
                    @include link;
                    transition: all 0.5s ease;
                }

                &:hover a {
                    color: white;
                }

                &:hover {
                    background-color: rgb(255, 0, 0);
                }
            }
        }
    }
}
.separador {
    color:rgb(32, 30, 30); 
}

.titulo3{
    color: red;
}
.seccionInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%; /* El contenedor se ajustará al ancho de la página */
    margin: 0 auto; /* Centrar el contenedor en la página */
    margin-top: 2rem;
    margin-bottom: 2rem;
    &__item{
        width: calc(25% - 20px); /* Ajuste del ancho y espacio para el margen */
        background-color: #141111;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
    }

}

.seccionContacto{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    a{
        @include link;
        text-decoration: none;
    &:hover{
        color: rgb(203, 0, 0);
    }
}
}
.seccionImg{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    & img{
        max-width: 40%;
        padding-left: 2rem;
    padding-right: 2rem;
    }
}
.footerF5 {
    display: flex;
    margin-top: 2rem;
    height: 300px;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .footer__textoDisponibilidad{
        font-family: $texto;
        align-self: flex-start;
    }
    .footer__linkContacto{
        @include link;
        align-self: flex-start;
        transition: all 0.3s ease;

        &:hover{
            color: rgb(203, 0, 0);
        }

    }
    .footer__links{
        align-self:flex-end;
        transition: all 0.3s ease;

        a{
            @include link;
        &:hover{
            color: rgb(203, 0, 0);
        }
    }
    }
}